/************* GENERAL *************/
* {
  box-sizing: border-box; }

body {
  font-family: 'Work Sans', sans-serif;
  color: #5f5f5f;
  font-weight: 300;
}

h1, h2 {
  font-family: 'Signika', sans-serif;
  font-size: 76px;
  font-weight: 500;
  color: #07bed4;
  text-align: center;
  text-transform: uppercase;
}
h3 {
  font-family: 'Signika', sans-serif;
  font-weight: 500;
  font-size: 52px;
  color: black;
  margin-bottom: 3%;
  text-align: center;
}

h4 {
  font-family: 'Signika', sans-serif;
  font-size: 56px;
  color: #fff;
  text-align: center;
  font-weight: 400;
  margin-bottom: 1%;
}

h5 {
  font-family: 'Signika', sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 1%;
  margin-top: 3%;
}

h6{
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: black;
  margin-top: 3%;
  margin-bottom: 1%;
}

p {
  line-height: 120%;
/*  margin: 2% 0%; */
}

section {
  margin: 0% 20%;
  margin-top: 8%;
}

p span {
  font-family:'Signika', sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #3333CC;
}
p.caption-text {
  font-size: 14px;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 3%;
  margin-left: 10%;
  margin-right: 10%;
}

/************* NAV *************/
/*nav based on https://teamtreehouse.com/community/forum-tip-create-a-sticky-navigation-with-css-and-jquery-2*/
/*
conversion notes for below:
header is now .title-page
main container starts after title-page
get rid of header
move nav below title page but above main container 
changed javascript to get viewport height
*/
body {
  margin: 0;
  padding-top: 100vh;
}
.project-title-page {
  background: blue;
  height: 600px;
}
.main-nav, .main-container {
  position: relative;
}
.main-nav {
  background: #07bed4; /* nav color! */
  height: 60px;
  position: relative;
  z-index: 1000000;
  box-shadow: 0 2px 3px rgba(0,0,0, 0.4);
}
div.main-container {
  background: white;
  padding-top: 40px; /* was 110px and I changed to 10... before was this: padding: 110px 50px 50px;*/ /*top LR bottom*/
  margin-bottom: -80px; /*because .main-nav height is 80px*/
}
.project-title-page, .main-nav-scrolled {
  position: fixed;
  top: 0;
  width: 100%
}
.main-nav ul {
  float: right;
}
.main-nav ul li {
  float: none;
  display: inline-block;
  padding-top: 20px;
  padding-right: 30px;
}
.main-nav ul li a {
  text-decoration: none;
  font-weight: 600;
  font-family: 'Signika', sans-serif;
  font-size: 20px;
}
.nav-active {
  background-color: blue;
}



/************* ADDITIONS TO CSS *************/
/************* TITLE *************/
.title-frame {
  border: 1.5px solid white;
  height: 100vh;
  -ms-transform: scale(0.97,0.97); /* IE 9 */
  -webkit-transform: scale(0.97,0.97); /* Safari */
  transform: scale(0.97,0.97);
}

.circ-btn {
/*  width: 6%;
  margin: 20vh auto;*/
/*  text-align: center;*/
}
.round-btn-circ {
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin-top: 15vh;
  background: none;
}
.round-btn-circ:hover {
  /*background: #0dd9e6;*/
  /*background: -webkit-linear-gradient(#00ffff, #c21e5c);*/    /* For Safari 5.1 to 6.0 */
  /*background: -o-linear-gradient(#00ffff, #c21e5c);*/      /* For Opera 11.1 to 12.0 */
  /*background: -moz-linear-gradient(#00ffff, #c21e5c);*/      /* For Firefox 3.6 to 15 */
  /*background: linear-gradient(#00c7dd, #c21e5c);*/       /* Standard syntax */
}
.round-btn {
  display: block;
  float: left;
  width: 100%;
  padding-top: 25%;
  padding-bottom: 25%;
  line-height: 1em;
  margin-top: -0.5em;
}
.fa-angle-down {
  text-align: center;
}
.hex-btn:before,
.hex-btn:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
}

.hex-btn:before {
  bottom: 100%;
  border-bottom: 14.43px solid #64C7CC;
}

.hex-btn:after {
  top: 100%;
  width: 0;
  border-top: 14.43px solid #64C7CC;
}

/************* *************    PAGE    ************* *************/
/************* *************    CREATIVE    ************* *************/

/************* Page rules *************/
.challenge, .define, .build, .learning-curve {
  position: relative;
}
.build h4, .define h4, .learning-curve h4 {
  color: #07bed4;
  font-size: 32px;
  margin-top: 3%;
  text-align: left;
}
.challenge h3, .define h3 {
  color: black;
  font-size: 52px;
  margin-bottom: 3%
}
.build h5 {
  color: #000;
}
.build img, .define div img, .learning-curve img {
  display: block;
  margin: 0 auto;
  width: 80%;
  margin-top: 3%;
}
.subs-pg {
  margin-top: 1%;
}
img.annotate-dot {
  width: 20px;
  display: inline;
  margin: 0px;
  margin-right: 5px;
}
.contact {
  margin-top: 5%;
}

a:link { /* unvisited link */
  color: #07bed4;
}
a:visited { 
  color: #3333CC;
}

/************* NAV *************/
/*nav based on https://teamtreehouse.com/community/forum-tip-create-a-sticky-navigation-with-css-and-jquery-2*/
/* Same info as above still stands*/
body {
  margin: 0;
  padding-top: 100vh;
}
.project-title-page {
  background: blue;
  height: 600px;
}
.main-nav, .main-container {
  position: relative;
}
.main-nav {
  background: #07bed4;
  height: 60px;
  position: relative;
  z-index: 1000000;
  box-shadow: 0 2px 3px rgba(0,0,0, 0.4);
}
.main-container {
  background: white;
  padding-top: 110px; /*padding: 110px 50px 50px;*/ /*top LR bottom*/
  margin-bottom: -80px; /*because .main-nav height is 80px*/
}
.project-title-page, .main-nav-scrolled {
  position: fixed;
  top: 0;
  width: 100%
}
.main-nav ul {
  float: right;
}
.main-nav ul li {
  float: none;
  display: inline-block;
  padding-top: 20px;
  padding-right: 30px ;
}
.main-nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-family: signika 600;
  font-size: 20px;
}
.nav-active {
  background-color: blue;
}


/************* TITLE *************/
.project-title-page {
  width: 100%;
  height: 100vh;
  background: url(../img/spotify-hero.jpeg);
  background-size: cover;
  color: #ffffff;
  text-align: center; 
}
.project-overlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(24, 8, 76, 0.5); /*rgba(24, 8, 76, 0.4)*/
}
.project-title-page h1 {
  text-transform: uppercase; 
  color: #fff;
  padding-top: 15vh;
  padding-bottom: 2%;
}
.project-title-page h3 {
  font-size: 38px;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 0%;
}
.project-title-page h5 {
  padding: 0% 20%;
  padding-bottom: 1%;
  font-size: 30px;
}
.title-text {
  font-family: 'Work Sans', sans-serif;
  color: #fff;
  font-weight: 300; 
  margin-top: 0%;
}


/************* CHALLENGE *************/
/*this needs to be above .pulseband-title-frame{} below in order to get frame border. don't know why.*/ 



/************* background *************/
/*this needs to be above .pulseband-title-frame{} below in order to get frame border. don't know why.*/ 

img.placeholder-img {
  width: 80%
}
/************* PRODUCT DESIGN *************/
/*this needs to be above .pulseband-title-frame{} below in order to get frame border. don't know why.*/ 
.key-takeaways {
  margin: 2% 0%;
}
.dv-key-takeaways p{
  margin: 2% 0%;
}

/************* PRODUCT DEVELOPMENT *************/
/*this needs to be above .pulseband-title-frame{} below in order to get frame border. don't know why.*/ 
.fin-prod-btn {
  margin-top: 15px;
}
.fin-prod-btn a {
  background-color: #07bed4;
  text-decoration: none;
  font-family: 'Signika', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: white;
  padding: 8px 15px;
  margin: 5px;
}
.border-fin-prod-btn {
  border: 1px solid #07bed4;
  position: absolute;
  height: 50px;
  left: 10%;
}
.btn-container {
  position: relative;
  height: 50px;
}
.fin-prod-btn a:hover {
  background-color: #3333CC;
}
.border-fin-prod-btn:hover {
  border: 1px solid #3333CC;
}

/******* GITHUB BTN **********/
.github-btn {
  margin-top: 15px;
}
.github-btn a {
  background-color: #07bed4;
  text-decoration: none;
  font-family: 'Signika', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: white;
  padding: 8px 45px;
  margin: 5px;
}
.border-github-btn {
  border: 1px solid #07bed4;
  position: absolute;
  height: 50px;
  right: 10%;
}
.github-btn a:hover {
  background-color: #3333CC;
}
.border-github-btn:hover {
  border: 1px solid #3333CC;
}

/************* ADDITIONS TO TITLE (must be below projects) ************/
.project-title-frame {
  border: 1.5px solid white;
  height: 100vh;
  -ms-transform: scale(0.97,0.97); /* IE 9 */
  -webkit-transform: scale(0.97,0.97); /* Safari */
  transform: scale(0.97,0.97);
}

/************* FOOTER *************/
.footer {
  text-align: center;
  background-color: #3333CC;
  color: white;
  height: 15%;
}
.footer ul {
  padding: 2% 0%;
}
.footer li {
  display: inline-block;
  margin: 0% 1%;
}
.footer p {
  padding-bottom: 2%;
}
ul.contact {
  padding-bottom: 5px;
}


/**************************************    RESPONSIVE    **************************************/
/**************************************    RESPONSIVE    **************************************/


/**************************************    CREATIVE    **************************************/
@media screen and (max-width: 1050px) {
  section {
    margin: 0% 15%;
    margin-top: 8%;
  }
  p.subs-pg {
    margin-top: 3%;
  }
}

@media screen and (max-width: 585px) {
  section {
    margin: 0% 10%;
    margin-top: 8%;
  }
  p.subs-pg {
    margin-top: 3%;
  }
}

@media screen and (max-width: 515px) {
  h5.title-text {
    font-size: 22px;
  }

/*      BUTTONS      */  
  .fin-prod-btn {
    margin-top: 15px;
  }
  .fin-prod-btn a {
    font-weight: 400;
    font-size: 18px;
    padding: 8px 15px;
    margin: 5px;
  }
  .border-fin-prod-btn {
    position: absolute;
    height: 50px;
    left: 5%;
  }
  .btn-container {
    position: relative;
    height: 50px;
  }
  /* GITHUB BTN */
  .github-btn {
    margin-top: 15px;
  }
  .github-btn a {
    font-size: 16px;
    padding: 8px 45px;
    margin: 5px;
  }
  .border-github-btn {
    position: absolute;
    right: 5%;
  }
}

@media screen and (max-width: 445px) {
  h5.title-text {
    font-size: 22px;
    margin: 0%;
  }
  h1 {
    font-size: 48px;
  }
  .challenge h3, .define h3 {
  font-size: 48px;
  margin-bottom: 5%
  }

/*      IMAGES      */
  .build img, .define div img, .learning-curve img {
    width: 90%;
    margin-top: 5%;
  }
  .subs-pg {
    margin-top: 3%;
  }
  img.annotate-dot {
    width: 20px;
    display: inline;
    margin: 0px;
    margin-right: 5px;
  }

/*      BUTTONS      */  
  .fin-prod-btn {
    margin-top: 15px;
  }
  .fin-prod-btn a {
    font-weight: 400;
    font-size: 18px;
    padding: 8px 10px;
    margin: 5px;
  }
  .border-fin-prod-btn {
    position: absolute;
    height: 50px;
    left: 5%;
  }
  .btn-container {
    position: relative;
    height: 50px;
  }
  /* GITHUB BTN */
  .github-btn {
    margin-top: 15px;
  }
  .github-btn a {
    font-size: 16px;
    padding: 8px 40px;
    margin: 5px;
  }
  .border-github-btn {
    position: absolute;
    right: 5%;
  }
}

@media screen and (max-width: 400px) {
  
/*    PAGE RULES     */
  section {
    margin: 0% 5%;
    margin-top: 4%;
  }
  h1 {
    font-size: 44px;
  }
  .build h3, .define h3, .learning-curve h3 {
    margin-top: 20%;
    font-size: 42px;
  }
  .project-title-frame h3 {
    margin-top: 0%;
    font-size: 30px;
  }
  .build h4, .define h4, .learning-curve h4 {
    font-size: 32px;
    margin-top: 15%;
    margin-bottom: 1%;
  }
  h5.title-text {
    font-size: 20px;
    padding: 0% 5%;
  }
  h5{
    margin-top: 10%;
    margin-bottom: 1%;
  }
  h6 {
    margin-top: 8%;
  }
  p.subs-pg {
    margin-top: 7%;
  }
  .contact {
  margin-top: 15%;
}

/*     NAV       */
.main-nav ul li a {
  font-size: 16px;
} 
.main-nav ul li {
  float: none;
  display: inline-block;
  padding-top: 22px;
  padding-right: 10px ;
}

/*     IMAGES     */
  /*this isn't working... don't know why*/
  .build img, .define div img, .learning-curve img {
    width: 95%;
    margin-top: 10%;
  }
  img.annotate-dot {
    width: 15px;
    margin-right: 5px;
  }

/*     BUTTONS     */  
  .fin-prod-btn {
    margin-top: 15px;
  }
  .fin-prod-btn a {
    font-weight: 400;
    font-size: 18px;
    padding: 8px 10px;
    margin: 5px;
  }
  .border-fin-prod-btn {
    position: absolute;
    height: 50px;
    left: 50%;
    margin-left: -70px;
  }
  .btn-container {
    position: relative;
    height: 120px;
    margin-top: 5%;
  }
  /* GITHUB BTN */
  .github-btn {
    margin-top: 15px;
  }
  .github-btn a {
    font-size: 18px;
    padding: 8px 36px;
    margin: 5px;
  }
  .border-github-btn {
    position: absolute;
    top: 70px;
    right: 50%;
    margin-right: -66px;
  }
}






