/************* GENERAL *************/
*{
	box-sizing: border-box;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
}

/************* NAV *************/

/************* TITLE *************/
.title-page {
	width: 100%;
	height: 100vh;
	background: url(../img/hero-bg.jpg);
	background-size: cover; //positions whole image on page (not just a section of the img)
	color: #ffffff;
	text-align: center;

	h1 {
		text-transform: uppercase;
	}
	h2 {
		font-weight: 200;
		font-size: 38px;
		margin-top: 60vh;
	}
}

/************* ABOUT *************/
.about {
	width: 100%;
	height: 80vh;
	background-color: #ffffff;

	h3 {
		text-align: center;
		text-transform: uppercase;
		font-size: 56px;
		color: #07bed4;
	}
	p {
		text-align: center;
		margin: 100 300;
		padding:100 300;
	}
	button {
		margin: auto;
	}
}

/************* PROJECTS *************/
.projects {
	height: 100vh;

	#triangle-down {
		width: 100vw;
		height: 100vh;
		border-left: 50vw solid transparent;
		border-right: 50vw solid transparent;
		border-top: 50vw solid #07bed4;	
		margin: 0 0;
		position: relative; //because position absolute means position yourself in relation to the nearest parent with absolute or relative positioning
	}
	.pulseband-desc {
		p {
			background-color: #07bed4;
			// opacity: .01;
			position: absolute;
			top: 0px;
			left: 0px;
			color: red;
		}
	}
	// #triangle-down {
	// 	width: 0px;
	// 	height: 0px;
	// 	padding-left: 50%;
	// 	// padding-right: 64vh solid transparent;
	// 	padding-top: 50%;
	// 	padding-bottom: 10px;
	// 	overflow: hidden;	
	// 	margin: 0 0;
	// 	position: absolute; //because position absolute means position yourself in relation to the nearest parent with absolute or relative positioning
	// 	top: 10px;
	// 	right: 10px;
	// }

	// #triangle-down:after {
	// 	content: "";
	// 	display: block;
	// 	width: 0;
	// 	height: 0;
	// 	margin-top: 10px;
	// 	margin-left: 10px;

 //   		border-top: 1500px solid transparent;
	//    border-bottom: 1500px solid transparent;
	//    border-left: 1500px solid rgb(230, 230, 230);
	// }


}



// p{
// 	color: red;
// }

// body{
// 	font-size: 15px;
// }

// a:hover{
// 	background-color: red;
// }

// section{
// 	div.hello{
// 		margin: 0;
// 	}
// }